.alfbt-animation1 { //Vai ser adicionado ao carregar o navegado, pelo JS
  animation: animation-alfbt 1.5s ease forwards;
  
}

.alfbt-animation2 { //Coloca o alfa no centro doalef-logo
  //animation: animation-alfbt2 1.5s ease forwards;

  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%) scale(0.48)!important;
  margin: 0px 0px -44px 92px;
}

.opacity-normal {
  animation: opacity-normal 2s ease forwards;
}


.logo_alef_animation {

  animation: logo-alef 2s ease forwards;
}