.alfbt-animation1 { //Vai ser adicionado ao carregar o navegado, pelo JS
  animation: animation-alfbt 1.5s ease forwards;
  
}

.alfbt-animation2 {
  animation: animation-alfbt2 2s ease forwards;

}



.opacity-normal {
  animation: opacity-normal 2s ease forwards;
}


.logo_alef_animation {

  animation: logo-alef 2s ease forwards;
}


.opacity-upper {
  animation: opacity-upper 1s ease forwards;
}

.alpha-to-center { //Coloca o alfa no centro do alef-logo
  
  animation: alpha-to-center 2.5s ease forwards;
}