.alfbt-animation1 { //Vai ser adicionado ao carregar o navegado, pelo JS
  animation: animation-alfbt 1.5s ease forwards;
  
}

.alfbt-animation2 {
  animation: animation-alfbt2 1.5s ease forwards;

}


.alfbt-animation3 { //Coloca o alfa no centro do alef-logo
  animation: animation-alfbt3 1.5s ease forwards;
  margin: 0px 0px -50px 92px;
  transition: margin ease 1.5s;
}

.opacity-normal {
  animation: opacity-normal 2s ease forwards;
}


.logo_alef_animation {

  animation: logo-alef 2s ease forwards;
}