@keyframes animation-alfbt {
  from {
    transform: translateX(100vw)

  }
  to {
    transform: translateX(0vw)
  }
}

@keyframes animation-alfbt2 {
  from {
    transform: translateX(0vw)

  }
  to {
    transform: translate(0vw, 0vh)
  }
}


@keyframes opacity-normal {
  to {
    opacity: 100%;
  }
}

@keyframes logo-alef {
  to {
    opacity: 100%;
  }
}