@keyframes animation-alfbt {
  from {
    transform: translateX(100vw)

  }
  to {
    transform: translateX(0vw)
  }
}

@keyframes animation-alfbt2 {

  to {
    transform: translate(-50%, -50%) scale(0.48)!important;
    margin: 0px 0px -44px 92px;
  }
}


@keyframes opacity-normal {
  to {
    opacity: 100%;
  }
}

@keyframes logo-alef {
  to {
    opacity: 100%;
  }
}