@keyframes animation-alfbt {
  from {
    transform: translateX(100vw)

  }
  to {
    transform: translateX(0vw)
  }
}

@keyframes alpha-to-center {
  from {
    transform: translateX(9.75rem);
    margin-top: 5px;
  }
  to {
    transform: translate(-50%, 14%) scale(0.48);
    margin: 0.28rem 0rem 0rem 15rem;
    
  }
}


@keyframes opacity-normal {
  to {
    opacity: 100%;
  }
}

@keyframes logo-alef {
  to {
    opacity: 100%;
  }
}

@keyframes animation-alfbt2 {
  from {
    transform: translateX(0vw)
  }
  to {
    transform: translateX(9.75rem);
  }
}

@keyframes opacity-upper {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes marginLeft {
  0% {
    margin-left: 200%;
  }

  10% {
    margin-left: 100%;
  }
  20% {
    margin-left: 0%;
  }
  30% {
    margin-left: -10%;
  }
  40% {
    margin-left: 0%;
  }
  100% {
    margin-left: 0%;
  }
}