$tseva0: #AAA8AD;
$tseva1: #59595B;
$tseva2: #3F3E3C;
$tseva3: #1E1F23;
$tseva4: #0D0D0D;
$iom0: #1242B3;
$iom1: #334A80;
$iom2: #0A2666;
$iom3: #4768B3;
$iom4: #195EFF;
$medinat0: #0A2666;
$medinat1: #B32E12;
$medinat2: #0036B2;
$medinat3: #77B312;
$medinat4: #426605;