@charset "UTF-8";
@keyframes animation-alfbt {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0vw);
  }
}
@keyframes alpha-to-center {
  from {
    transform: translateX(9.75rem);
    margin-top: 5px;
  }
  to {
    transform: translate(-50%, 14%) scale(0.48);
    margin: 0.28rem 0rem 0rem 15rem;
  }
}
@keyframes opacity-normal {
  to {
    opacity: 100%;
  }
}
@keyframes logo-alef {
  to {
    opacity: 100%;
  }
}
@keyframes animation-alfbt2 {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(9.75rem);
  }
}
@keyframes opacity-upper {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes marginLeft {
  0% {
    margin-left: 200%;
  }
  10% {
    margin-left: 100%;
  }
  20% {
    margin-left: 0%;
  }
  30% {
    margin-left: -10%;
  }
  40% {
    margin-left: 0%;
  }
  100% {
    margin-left: 0%;
  }
}
.alfbt-animation1 {
  animation: animation-alfbt 1.5s ease forwards;
}

.alfbt-animation2 {
  animation: animation-alfbt2 2s ease forwards;
}

.opacity-normal {
  animation: opacity-normal 2s ease forwards;
}

.logo_alef_animation {
  animation: logo-alef 2s ease forwards;
}

.opacity-upper {
  animation: opacity-upper 1s ease forwards;
}

.alpha-to-center {
  animation: alpha-to-center 2.5s ease forwards;
}

.phrase2 {
  animation: marginLeft 2.5s ease forwards;
}

* {
  padding: 0;
  margin: 0;
  max-width: 97.735vw;
  box-sizing: border-box;
  border: none;
  font-family: inherit;
}

html {
  width: 100vw;
}

body {
  width: 100vw;
  font-family: Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to top, #1242B3, #0A2666);
  background-attachment: fixed;
}

header {
  background-image: linear-gradient(to bottom, #0A2666, #1242B3);
  color: white;
  display: grid;
  height: 70px;
  padding-right: 7px;
  transition: all ease-in-out 0.3s;
}

#menu1 { /*menu button position and style*/
  text-align: right;
  margin: 20px;
}

#menu1 > p { /*p Style*/
  display: inline-block;
  font-size: 15px;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
  transform: translateY(-5px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#menu1 > p:hover { /*When p is on hover*/
  background-color: #0A2666;
}

.menu1On { /*Menu buttom*/
  background-color: #0A2666;
}

#menu1 > p > span { /*Style burguer menu*/
  font-size: 1.2em;
  transform: translate(-1.2px, 3px);
  padding-left: 2px;
}

.tamanhoFull { /*Menu height full*/
  height: 360px;
}

.hidden { /*Menu hidden*/
  display: none !important;
}

#menuNav > ol > a { /*Style Links*/
  display: block;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 12px;
  margin-left: 7px;
  border-radius: 10px;
}

#menuNav > ol > a:hover { /*Style Links when hover on*/
  background-color: black !important;
  border-radius: 7px;
}

/*Links concluidos agora é a parte do conteúdo príncipal*/
main {
  display: block;
}

.home-main-banner {
  background: url(../imagens/background.jpg) top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 150px;
  position: relative;
  height: 400px;
}

.logo-alef {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  background: url(../imagens/alef-icon.png) center no-repeat;
  background-size: cover;
  opacity: 0%;
}

.alfbt {
  position: absolute;
  display: flex;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.alpha {
  background: url(../imagens/alpha.png) center no-repeat;
  background-size: cover;
  width: 44px;
  height: 40px;
  margin-top: 5px;
  transform: translateX(100vw);
}

.lambda {
  background: url(../imagens/lambda.png) center no-repeat;
  background-size: cover;
  width: 49.5px;
  height: 45px;
  margin-left: 4px;
  opacity: 0%;
}

.epsilon {
  background: url(../imagens/epsilon.png) center no-repeat;
  background-size: cover;
  width: 49.5px;
  height: 45px;
  opacity: 0%;
}

.phi {
  background: url(../imagens/phi.png) center no-repeat;
  background-size: cover;
  width: 49.5px;
  height: 45px;
  margin-top: 8px;
  opacity: 0%;
}

.h1 {
  text-transform: none;
  font-size: 50px;
  margin-bottom: 0.5rem;
  font-weight: 500px;
}

p {
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 14px;
}

.phrase {
  display: flex;
  width: 100vw;
  height: 100%;
  margin-left: 200%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.phrase h1 {
  font-size: 100px;
  color: white;
}

.phrase h3 {
  font-size: 18px;
  color: white;
  font-weight: 700;
}

.introducao {
  width: 100vw;
  background: linear-gradient(to bottom, #334A80, #1242B3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.introducao div {
  padding-bottom: 5rem;
  margin-top: -6rem;
}
.introducao div h2 {
  color: white;
}
.introducao div p {
  font-size: 14px;
  color: white;
  margin-bottom: 1rem;
}
.introducao img {
  transform: scale(0.45);
}

.skills {
  text-align: center;
  border-top: 2px solid #0A2666;
  padding-top: 20px;
  color: white;
  background: linear-gradient(to top, #1242B3, #334A80);
}

.skills ul div {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
li img {
  transform: scale(0.8);
}

.o-que-faco {
  width: 100vw;
  text-align: center;
  color: white;
}
.o-que-faco p {
  text-align: center;
}

#portfolio {
  padding-top: 2rem;
  border-top: 2px solid #0A2666;
}
#portfolio h2 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}
#portfolio p {
  color: rgba(255, 255, 255, 0.849);
  padding-top: 1rem;
  font-size: 1rem;
}
#portfolio h2, #portfolio p {
  padding-left: 2rem;
}

.portfolio {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: sans-serif;
}
.portfolio .number1, .portfolio .number2, .portfolio .number3, .portfolio .number4 {
  height: 200px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.39);
  color: rgba(255, 255, 255, 0.568);
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .number1 {
  background-color: #59595B;
}
.portfolio .number2 {
  background-color: #3F3E3C;
}
.portfolio .number3 {
  background-color: #1E1F23;
}
.portfolio .number4 {
  background-color: #0D0D0D;
}/*# sourceMappingURL=style.css.map */