@charset "UTF-8";
@keyframes animation-alfbt {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0vw);
  }
}
@keyframes alpha-to-center {
  from {
    transform: translateX(9.75rem);
    margin-top: 5px;
  }
  to {
    transform: translate(-50%, 14%) scale(0.48);
    margin: 0.28rem 0rem 0rem 15rem;
  }
}
@keyframes opacity-normal {
  to {
    opacity: 100%;
  }
}
@keyframes logo-alef {
  to {
    opacity: 100%;
  }
}
@keyframes animation-alfbt2 {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(9.75rem);
  }
}
@keyframes opacity-upper {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
.alfbt-animation1 {
  animation: animation-alfbt 1.5s ease forwards;
}

.alfbt-animation2 {
  animation: animation-alfbt2 2s ease forwards;
}

.opacity-normal {
  animation: opacity-normal 2s ease forwards;
}

.logo_alef_animation {
  animation: logo-alef 2s ease forwards;
}

.opacity-upper {
  animation: opacity-upper 1s ease forwards;
}

.alpha-to-center {
  animation: alpha-to-center 2.5s ease forwards;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  width: 100vw;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-image: linear-gradient(to top, #1242B3, #0A2666);
  background-attachment: fixed;
}

header {
  background-image: linear-gradient(to bottom, #1242B3, #0A2666);
  color: white;
  display: grid;
  height: 70px;
  padding-right: 7px;
  transition: all ease-in-out 0.3s;
}

#menu1 { /*menu button position and style*/
  text-align: right;
  margin: 20px;
}

#menu1 > p { /*p Style*/
  display: inline-block;
  font-size: 15px;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
  transform: translateY(-5px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#menu1 > p:hover { /*When p is on hover*/
  background-color: #0A2666;
}

.menu1On { /*Menu buttom*/
  background-color: #0A2666;
}

#menu1 > p > span { /*Style burguer menu*/
  font-size: 1.2em;
  transform: translate(-1.2px, 3px);
  padding-left: 2px;
}

.tamanhoFull { /*Menu height full*/
  height: 360px;
}

.hidden { /*Menu hidden*/
  display: none !important;
}

#menuNav > ol > a { /*Style Links*/
  display: block;
  color: white;
  text-decoration: none;
  font-size: 13px;
  padding: 12px;
  margin-left: 7px;
  border-radius: 10px;
}

#menuNav > ol > a:hover { /*Style Links when hover on*/
  background-color: black !important;
  border-radius: 7px;
}

/*Links concluidos agora é a parte do conteúdo príncipal*/
main {
  display: block;
}

.home-main-banner {
  background: url(../imagens/background.jpg) top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 50px;
  position: relative;
  height: 400px;
}

.logo-alef {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  background: url(../imagens/alef-icon.png) center no-repeat;
  background-size: cover;
  opacity: 0%;
}

.alfbt {
  position: absolute;
  display: flex;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.alpha {
  background: url(../imagens/alpha.png) center no-repeat;
  background-size: cover;
  width: 44px;
  height: 40px;
  margin-top: 5px;
  transform: translateX(100vw);
}

.lambda {
  background: url(../imagens/lambda.png) center no-repeat;
  background-size: cover;
  width: 49.5px;
  height: 45px;
  margin-left: 4px;
  opacity: 0%;
}

.epsilon {
  background: url(../imagens/epsilon.png) center no-repeat;
  background-size: cover;
  width: 49.5px;
  height: 45px;
  opacity: 0%;
}

.phi {
  background: url(../imagens/phi.png) center no-repeat;
  background-size: cover;
  width: 49.5px;
  height: 45px;
  margin-top: 8px;
  opacity: 0%;
}

.h1 {
  text-transform: none;
  font-size: 50px;
  margin-bottom: 0.5rem;
  font-weight: 500px;
}

p {
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */